<div>
    <h2><%= current_user.name %>さんの情報</h2>
    
    <div class="row">
        <h3>マイチーム一覧</h2>
    </div>
    
    <div class="row">
        <h3>お気に入り選手一覧</h2>
        <%= render 'players/players_list', players: current_user.favorite_players %>
    </div>

</div>