<body>
    <div class="container">
        <div class="row jumbotron mt-3 bg-light">
            <div class="col-md-6">
                <%= image_tag 'top', class:"center", :size => '533x400'%>
            </div>
            <div class="col-md-3">
                <h2 class="display-5 text-center"><%= link_to '選手検索', players_path %></h2>
            </div>
            <div class="col-md-3">
                <h2 class="display-5 text-center"><%= link_to 'オリジナルチーム一覧', teamtop_path %>
            </div>
        </div>
    </div>
</body>

