<body>
    <div class="container">
        <div class="center jumbotron">
            <div class="text-center">
                <h1>Top image</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6"><%= link_to '選手検索', players_path %></div>
            <div class="col-md-6">オリジナルチーム一覧</div>
        </div>
    </div>
</body>

